src/main/resources/payload_XML/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="Employee">
        <complexType>
            <sequence>
                <element name="firstName" type="string" />
                <element name="lastName" type="string" />
                <element name="salary" type="decimal"/>
            </sequence>
        </complexType>
    </element>
</schema>